<% if(locals.user) {%> 
<div class="Chat_box">
    <div id="chat_container">
        <div class="user_chat">
            user
        </div>
        <div class="friend_chat">
            Friend
        </div>
    </div>

    <form action=""  id="Send_chat">
        <input type="text" id="chats" >
        <button type="button" id="chat_sender">Send</button>
    </form>
</div>

<% } %>