<div class="singIn">
    <form action="/user/update_password" method="post">
        <div class="form">
            <label for="Password">New Password</label>
            <input type="password" name="password" id="Password" />
            <label for="Confirm">Confirm Password</label>
            <input type="password" name="confirm" id="Confirm" />
            <button type="submit">Submit</button>
        </div>
    </form>

</div>