<div class="singIn">
<form action="/user/new_password" method="post">
    <div class="form">
        <label for="Email">Email</label>
        <input type="text" name="email" id="Email" />
        <button type="submit">Submit</button>
    </div>
</form>

</div>