<div class="singIn">
    <form action="/user/singIn/Create_session" method="post">
        <div class="form">
            <label for="Username">Username</label>
            <input type="text" name="username" id="Username" >
            <label for="Email">Email</label>
            <input type="text" name="email" id="Email" />
            <label for="Password">Password</label>
            <input type="password" name="password" id="Password">
            <button type="submit">Submit</button>
            <a href="/user/reset_password">Forgot Password</a>
        </div>
    </form>

    <p>
        <a href="/user/auth/google">Google SingIn/SingUp</a>
    </p>
</div>