

<div class="comment_mail" style="background: linear-gradient(45deg,rgba(255,0,0,0), rgba(255,0,0,1)); border-radius: 0.5rem;">
    <h1>Hey You have got a new comment on <strong>Mate</strong>  </h1>
    <h2> <%= comment.Comments %></h2>
    <p>By:- <%= comment.user.name %></p>
</div>